doctype html
html(lang='pl')
  head
    include ../partials/head.pug

  main.main
    include ../partials/player.pug

    include ../partials/paragraph-1.pug
    
    include ../partials/gallery-fullscreen-1.pug
    include ../partials/gallery-two-columns-1.pug

    include ../partials/gallery-1.pug
    include ../partials/paragraph-2.pug
    
    include ../partials/packshots-1.pug

    include ../partials/gallery-fullscreen-2.pug
    include ../partials/paragraph-3.pug

    include ../partials/gallery-2.pug

    include ../partials/button.pug

