section.gallery
  figure.gallery__item.gallery__item--s.gallery__item--js
    .gallery__wrapper.gallery__wrapper--js
      a.gallery__link(href='#' aria-label='' title='')
        picture
          source(srcset=require('../assets/images/photo-desktop-645x826-1.jpg') media='(min-width: 768px)')
          img.gallery__image(src=require('../assets/images/photo-mobile-382-490-5.jpg') alt='' loading='lazy')

      article.product.product--js(style='left: 67%; top: 25%' tabindex='0')
        a.product__link.product__link--js(href='https://ccc.eu/pl')
          header.product__text-wrapper
            h3.product__title Torebka
            span.product__price 299,99 zł
            span.product__cta zobacz

    figcaption.gallery__header
      h2.gallery__title Torebki Jenny Fairy
      span.gallery__info METALLIC CARNIVAL
      a.gallery__link(href='#' aria-label='' title='')
        span.gallery__cta Zobacz

  figure.gallery__item.gallery__item--s.gallery__item--js
    .gallery__wrapper.gallery__wrapper--js
      a.gallery__link(href='#' aria-label='' title='')
        picture
          source(srcset=require('../assets/images/photo-desktop-645x826-2.jpg') media='(min-width: 768px)')
          img.gallery__image(src=require('../assets/images/photo-mobile-382-490-6.jpg') alt='' loading='lazy')

      article.product.product--js(style='left: 79%; top: 82%' tabindex='0')
        a.product__link.product__link--js(href='https://ccc.eu/pl')
          h3.product__text-wrapper Już wkrótce

    figcaption.gallery__header
      h2.gallery__title Czółenka Jenny Fairy
      span.gallery__info METALLIC CARNIVAL
      a.gallery__link(href='#' aria-label='' title='')
        span.gallery__cta Zobacz