section.gallery
  figure.gallery__item.gallery__item--xs
    .gallery__wrapper
      a.gallery__link(href='#' aria-label='' title='')
        img.gallery__image(src=require('../assets/images/photo-382x490-1.jpg') alt='' loading='lazy')
    figcaption.gallery__header
      h2.gallery__title Czółenka Jenny Fairy
      span.gallery__info METALLIC CARNIVAL
      a.gallery__link(href='#' aria-label='' title='')
        span.gallery__cta Zobacz
  figure.gallery__item.gallery__item--xs
    .gallery__wrapper
      a.gallery__link(href='#' aria-label='' title='')
        img.gallery__image(src=require('../assets/images/photo-382x490-2.jpg') alt='' loading='lazy')
    figcaption.gallery__header
      h2.gallery__title Czółenka Jenny Fairy
      span.gallery__info METALLIC CARNIVAL
      a.gallery__link(href='#' aria-label='' title='')
        span.gallery__cta Zobacz
  figure.gallery__item.gallery__item--xs
    .gallery__wrapper
      a.gallery__link(href='#' aria-label='' title='')
        img.gallery__image(src=require('../assets/images/photo-382x490-3.jpg') alt='' loading='lazy')
    figcaption.gallery__header
      h2.gallery__title Czółenka Jenny Fairy
      span.gallery__info METALLIC CARNIVAL
      a.gallery__link(href='#' aria-label='' title='')
        span.gallery__cta Zobacz
  figure.gallery__item.gallery__item--xs
    .gallery__wrapper
      a.gallery__link(href='#' aria-label='' title='')
        img.gallery__image(src=require('../assets/images/photo-382x490-4.jpg') alt='' loading='lazy')
    figcaption.gallery__header
      h2.gallery__title Czółenka Jenny Fairy
      span.gallery__info METALLIC CARNIVAL
      a.gallery__link(href='#' aria-label='' title='')
        span.gallery__cta Zobacz