p.paragraph
  span.paragraph__span
    | Odważ się z odblaskiem! Postaw na geometryczne torebki z grubym paskiem, 
    | dodaj do nich kolorowo lśniące szpilki 
    | i... gotowe. Możesz ruszać w miasto!