p.paragraph
  span.paragraph__span
    | ... A na samym szczycie karnawałowej listy przebojów uplasowała się najnowsza kapsuła Metallic Carnival 
    | od&nbsp;Jenny Fairy! Wczuj się w&nbsp;rytm połyskujących butów oraz torebek na&nbsp;zimowe 
    | spotkania w&nbsp;najlepszym stylu. 
    | Zabłyśnij z&nbsp;klasą i&nbsp;baw&nbsp;się modą z&nbsp;CCC!